.menu-container {
    margin-top: 20px;
}

.menu-container .btn-menu {
    width: 40%;
}

.search-container {
    padding: 0 100px 0 100px;
}

.grid-container {
    margin-top: 70px;
    padding: 0 100px 0 100px;
}