<div class="container-fluid text-center menu-container">
  <div class="row">
    <div class="col-sm-4">
      <button type="submit" class="btn btn-success btn-menu" [routerLink]="['/home']">Back</button>
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-success btn-menu" (click)="getRounds()">Get all games</button>
    </div>
    <div class="col-sm-4">
      <div class="input-group mb-3 search-container">
        <input type="text" class="form-control" placeholder="Player name" #playerName>
        <div class="input-group-append">
          <button class="btn btn-success" type="submit" (click)="getRounds(playerName.value)">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid grid-container">
  <kendo-grid #grid
              [data]="gridView" 
              [pageSize]="pageSize" 
              [skip]="skip" 
              [sort]="sort" 
              (sortChange)="sortChange($event)"
              [sortable]="true" 
              [pageable]="true" 
              [scrollable]="'none'" 
              (pageChange)="pageChange($event)"
              [selectable]="true"
              (selectionChange)="gridSelectionChange($event)"
              (dblclick)="getRoundById()">

    <kendo-grid-column field="player" title="Player">
      <ng-template kendoGridCellTemplate let-dataItem>
        <p>{{dataItem.player.name}} ==> {{dataItem.player.score}}</p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="dealer" title="Dealer">
      <ng-template kendoGridCellTemplate let-dataItem>
        <p>Dealer ==> {{dataItem.dealer.score}}</p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="bots" title="Bots">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div *ngFor='let bot of dataItem.bots'>
          <p>{{bot.name}} ==> {{bot.score}}</p>
        </div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
