.main-container {
  transform: translateY(50%);
}

.logo {
  border-radius: 5%;
  display: block;
  margin-bottom: 25px;
}

.start-form {
  padding: 0 20px 0 20px;
}

.start-form button {
  width: 100%;
}

.start-form input, button {
  margin-bottom: 10px;
}

.menu-container {
  padding: 0 20px 0 20px;
}

.menu-container button {
  width: 100%;
  margin-top: 20px;
}
