<div class="container main-container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <img class="logo img-fluid" src="assets/images/blackJackLog.png">
      <div class="start-form">
        <form [formGroup]="playerForm"  (submit)="startGame()">
          <input type="text" class="form-control" placeholder="Player name" formControlName="playerName" #playerName>
          <input type="text" class="form-control" placeholder="Cash" formControlName="cash">
          <button type="submit" class="btn btn-success" [disabled]="!playerForm.valid">Start new game</button>
        </form>
      </div>
      <div class="menu-container">
        <button type="submit" class="btn btn-success" (click)="viewStatistics()">View statistics</button>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>