<div class="game-container">
  <div class="container-fluid action-container">
    <div class="row h-100 text-center justify-content-center align-items-center">
      <div class="col-sm-2">
        <button type="button" class="btn btn-primary" [routerLink]="['/home']">Back</button>
      </div>
      <div class="col-sm-4 form-container">
        <form [formGroup]="roundForm" (ngSubmit)="startRound()">
          <div class="input-group mb-3">
            <input id="rate_input" type="text" class="form-control" placeholder="Rate" formControlName="rate">
            <input id="rate_input" type="text" class="form-control" placeholder="Bots" formControlName="countBots">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit" [disabled]="!roundForm.valid">Deal!</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-success" (click)="hit()">Hit!</button>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-success" (click)="stand()">Stand!</button>
      </div>
    </div>
  </div>
  <div class="container-fluid dealer-container">
    <div class="row h-100 text-center justify-content-center align-items-center">
      <div class="col">
        <h5>Dealer ==> Score: {{round.dealer.score}}</h5>
        <div *ngFor='let card of round.dealer.cards'>
          <p>{{card.suit}} == {{card.rank}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid players-container">

    <div class="row h-100 text-center justify-content-center align-items-center">
      <div>
        <div class="col">
          <h5>{{round.player.name}} ==> Score: {{round.player.score}}</h5>
          <div *ngFor='let card of round.player.cards'>
            <p>{{card.suit}} == {{card.rank}}</p>
          </div>
        </div>
      </div>
      <div *ngFor='let bot of round.bots'>
        <div class="col">
          <h5>{{bot.name}} ==> Score: {{bot.score}}</h5>
          <div *ngFor='let card of bot.cards'>
            <p>{{card.suit}} == {{card.rank}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid result-container">
    <div class="row h-100 text-center justify-content-center align-items-center">
      <div class="col-sm-2">
        <div class="card">
          <div class="card-header bg-primary text-white">Player cash</div>
          <div class="card-body">{{round.player.cash}}</div>
        </div>
      </div>
      <div class="col-sm-8" id="game-result">
        <div *ngIf="isRoundResult">
          <div class="alert alert-info">
            <strong>{{ round.status }}</strong>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>
