.game-container {
    height: 100vh;
    background-image: url("src/assets/images/blackjackBack.jpg");
    background-size: cover;
}

.action-container {    
  height: 10vh;
}

.action-container button {    
    width: 12vh;    
}

.form-container .input-group {
    transform: translateY(20%);
}

.dealer-container {
    height: 30vh;
}

.players-container {
    height: 40vh;
}

.result-container {
    height: 20vh;
}
