<div class="modal-header">
  <h4 class="modal-title">Detail round information</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalService.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>RoundId</th>
      <td>{{round.roundId}}</td>
    </tr>
    <tr>
      <th>Players</th>
      <td>
        <h6>{{round.player.name}} ==> {{round.player.score}}</h6>
        <div *ngFor='let card of round.player.cards'>
          {{card.suit}} ==> {{card.rank}}
        </div>
      </td>
    </tr>
    <tr>
      <th>Dealer</th>
      <td>
        <h6>Dealer ==> {{round.dealer.score}}</h6>
        <div *ngFor='let card of round.dealer.cards'>
          {{card.suit}} ==> {{card.rank}}
        </div>
      </td>
    </tr>
    <tr>
      <th>Bots</th>
      <div *ngFor='let bot of round.bots'>
        <td>
          <h6>{{bot.name}} ==> {{bot.score}}</h6>
          <div *ngFor='let card of bot.cards'>
            {{card.suit}} ==> {{card.rank}}
          </div>
        </td>
      </div>
    </tr>
    <tr>
      <th>Round result</th>
      <td>{{round.player.name}} ==> {{round.status}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modalService.close('Close click')">Close</button>
</div>
